colorlog==4.1.0
concise==0.6.9
cookiecutter==1.7.2
cyvcf2==0.20.0
deprecation==2.1.0
fastparquet==0.4.0
genomelake==0.1.4
h5py==2.10.0
Jinja2==2.11.2
joblib==0.16.0
keras==2.3.1
kipoi_conda==0.2.2
kipoi_interpret==0.1.2
kipoi_utils==0.3.8
numcodecs==0.6.4
numpy==1.18.5
pandas==1.0.4
pybedtools==0.8.1
pyBigWig==0.3.17
pyfaidx==0.5.8
pysam==0.15.4
pytest==5.4.3
PyYAML==5.3.1
scikit_learn==0.23.0
six==1.15.0
tensorflow==2.2.0
theano==1.0.4
tinydb==4.1.1
torch==1.5.0
tqdm==4.46.1
zarr==2.4.0
